.home {
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: #FAFAFA;
    padding-bottom: 80px;
}

.loading {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}